{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content%}

<div class="container mt-3" style="direction: rtl;"> 
    <form action="" class="form-control" method="post">
        {% csrf_token %}
        <h3></h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> ایمیل </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ایمیل حسابتان را وارد کنید" name="email">
        </div>

        <input type="submit" class="form-control btn btn-outline-dark"  value="تایید">

</form>


</div>

{% endblock %}





