{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content%}

<div class="container mt-3" style="direction: rtl;"> 
    <form action="" class="form-control" method="post">
        {% csrf_token %}
        <h3></h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> رمز جدید </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=" رمز جدید" name="new_password1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"> تکرار رمز جدید </label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="تکرار رمز جدید" name="new_password2">
        </div>

        <input type="submit" class="form-control btn btn-outline-dark"  value="تایید">

</form>

</div>


{% endblock %}





